<%= render 'shared/body_nav', title: 'Inscription' %>

<section>

<%#<p>L'inscription permet de contribuer de soumettre de nouveaux contenus (descriptions, infos, liens sur les documentaires) pour publication sur le site.</p>

<p>En vous inscrivant, vous acceptez de soumettre vos contributions à la politique éditoriale du site. Vous vous engagez à respecter les autres contributeurs et les décisions des éditeurs.</p>%>

<p>L'inscription nous permettra de vous tenir au courant de la date d'ouverture au public du site.</p>

<p>Une fois le syst&egrave;me de contribution ouverte mis en place, vous pourrez utiliser ce compte pour participer &agrave; la publication.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :login %><br />
  <%= f.text_field :login %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Inscription" %></div>
<% end %>

<%= render "devise/shared/links" %>

</section>