<li class="check fields">
	<div class="claim">
		<p><%= check.text_area :claim, rows: 3, placeholder: "Reformulation fidèle et neutre d'une affirmation du documentaire" %></p>
	</div>
	<div class="remark">
		<%= check.link_to_remove "X" %>
		<div class="picto">
			<img src="" />
		</div>
		<%= check.collection_select(:stamp_id, Stamp.all, :id, :title) %>
		<p>
			<%= check.text_area :remark, rows: 3, placeholder: "Remarque" %>
			<span class="source">
				 &ndash;&nbsp;
				 <%= check.text_field :ref_url, placeholder: "Source" %>
			</span>
		</p>
	</div>
</li>
