<% unless checklist.blank? %>
<section id="checklist">
	<header>
		<h2 class="section-title">
			Examiner : Sa version à l'épreuve des faits
		</h2>
	</header>
	<ul class="checks">

		<% checklist.each do |check| %>
			<li class="check">
				<div class="claim">
					<p><%= check.claim %></p>
				</div>
				<div class="remark">
					<div class="picto <%= check.stamp.name %>">
						<%= image_tag("#{check.stamp.name}.png", alt: check.stamp.title, "data-longdesc" => check.stamp.description ) %>
					</div>
					<p>
						<%= check.remark %>
						<span class="source">
							 &ndash;&nbsp;
							 <%= link_to "Réf.", check.ref_url unless check.ref_url.blank? %>
						</span>
					</p>
				</div>
			</li>
		<% end %>

	</ul>
</section>
<% end %>
