<section id="id-card" class="id-card">
	<%= content_tag(:div, image_tag(doc.poster_url), :class => 'poster') unless doc.poster_url.blank? %>
	<h3 class="docu-title"><%= doc.title %></h3>
	<h4 class="docu-subtitle"><%= doc.subtitle %></h4>
	<p class="issue-date"><%= doc.year %></div>

	<%= # renders tag with link if url provided, with name if only name provided, nothing otherwise
		content_tag(:p, :class => 'director') do
			link_to_unless doc.director_url.blank?, doc.director, doc.director_url, rel: 'nofollow'
		end unless doc.director.blank?
	%>

	<%# TODO Implement tags : div.tag-list>a*3 %> 

	<div class="summary text-unit"><%= raw doc.description %></div>
	<%= content_tag(:p, raw(doc.impact), :class => 'impact') unless doc.impact.blank? %>

</section>