<section id="id-card" class="id-card">
	<div class="poster">
		<% if doc.object.poster.blank? %>
			<%= image_tag('no-pic.jpg', alt: "Ce docu n'a pas encore d'affichage, chargez-en une.") %>
		<% else %>
			<%= image_tag(doc.object.poster) %>
			<div>
				<%= doc.check_box :remove_poster %>
				<%= doc.label :remove_poster, "Supprimer l'image" %>
			</div>
		<% end%>
		<%= doc.file_field :poster %>
		
	</div>
	<h3 class="docu-title"><%= doc.text_field :title, placeholder: "Titre" %></h3>
	<h4 class="docu-subtitle"><%= doc.text_field :subtitle, placeholder: "Sous-titre" %></h4>
	<div class="issue-date"><%= doc.text_field :year, placeholder: "Année de sortie" %></div>

	<div class="director"><%= doc.text_field :director, placeholder: "Nom du créateur" %><%= doc.text_field :director_url, placeholder: "Site du ou sur le créateur" %></div>

	<%# TODO Implement tags : div.tag-list>a*3 %>

	<div class="summary text-unit"><%= doc.text_area :description, rows: 7, placeholder: "Résumé" %></div>
	<div class="impact">
		<%= doc.text_field :impact, placeholder: "Impact" %>
	</div>

</section>