<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<%= doc.fields_for :themes, wrapper: false do |cat| %>
			<li class="fields">
				<h3><%= cat.text_field :name, placeholder: "Thème abordé par le documentaire" %></h3>
				<%= cat.link_to_remove "X" %>
				<ul class="link-list">

					<%= cat.fields_for :links, wrapper: false do |l| %>
					<li class="link fields">
						<%= l.link_to_remove "X" %>
						<h4>
							<%= l.text_field :title, placeholder: "Titre du lien" %>
							<%= l.text_field :url, placeholder: "URL" %>
						</h4>
						<div class="text-unit">
							<p><%= l.text_area :description, placeholder: "Description", rows: 5 %></p>
						</div>
					</li>
					<% end %>
					<li class="buttons-footer">
						<%= cat.link_to_add "Ajouter un lien", :links %>
					</li>

				</ul>
			</li>
		<% end %>
		<li>
			<%= doc.link_to_add "Ajouter un thème", :themes %>
		</li>
	</ul>
</section>
