<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<%= doc.fields_for :themes, wrapper: false do |theme| %>
			<li class="fields">
				<h3><%= theme.text_field :name, placeholder: "Thème abordé par le documentaire" %></h3>
				<%= theme.link_to_remove "X" %>
				<ul class="link-list">

					<%=	theme.fields_for :options, wrapper: false do |o|
						render 'option_fields', option: o
					end %>
				</ul>

				<div class="btn-bar">
					<%= theme.link_to_add "Ajouter un lien", :options %>
				</div>
			</li>
		<% end %>
	</ul>

	<div>
		<%= doc.link_to_add "Ajouter un thème", :themes %>
	</div>
</section>
