<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<%= doc.fields_for :themes, wrapper: false do |theme| %>
			<li class="fields">
				<h3><%= theme.text_field :name, placeholder: "Thème abordé par le documentaire" %></h3>
				<%= theme.link_to_remove "X" %>
				<ul class="link-list">

					<%= theme.fields_for :options, wrapper: false do |o| %>
					<li class="link fields">
						<%= o.link_to_remove "X" %>
						<h4>
							<%= o.text_field :title, placeholder: "Titre du lien" %>
							<%= o.text_field :url, placeholder: "URL" %>
						</h4>
						<div class="text-unit">
							<p><%= o.text_area :description, placeholder: "Description", rows: 5 %></p>
						</div>
					</li>
					<% end %>
					<li class="buttons-footer">
						<%= theme.link_to_add "Ajouter un lien", :options %>
					</li>

				</ul>
			</li>
		<% end %>
		<li>
			<%= doc.link_to_add "Ajouter un thème", :themes %>
		</li>
	</ul>
</section>
