<section id="reviews">
	<header>
		<h2 class="section-title">
			Elargir : Versions divergentes
		</h2>
	</header>
	<ul class="link-list">
		
		<%= doc.fields_for :reviews, wrapper: false do |l| %>
		<li class="link fields">
			<%= l.link_to_remove "X" %>
			<h4>
				<%= l.text_field :title, placeholder: "Titre du lien" %>
				<%= l.text_field :url, placeholder: "URL" %>
			</h4>
			<div class="text-unit">
				<p><%= l.text_area :description, placeholder: "Description", rows: 5 %></p>
			</div>
		</li>
		<% end %>
		<li class="buttons-footer">
			<%= doc.link_to_add "Ajouter un lien", :reviews %>
		</li>
	</ul>
</section>
