<% content_for :title, "Edition de #{ @doc.title }" %>
<% content_for(:css) { stylesheet_link_tag :document_form } %>
<% content_for(:js) { javascript_include_tag :jquery_nested_form, :document_form } %>

<%= nested_form_for @doc, url: { action: 'update', id: @doc.id }, as: :doc do |doc| %>

<%= render 'shared/body_nav', title: doc.object.name, nav_list: nav_list() %>

<%= render 'shared/form_errors', builder: doc %>

<%= render 'id_card_form', doc: doc %>
<%= render 'checklist_form', doc: doc %>
<%= render 'reviews_form', doc: doc %>
<%= render 'options_form', doc: doc %>

<section id="body-footer" class="form-buttons">
	<%= doc.submit "Enregistrer" %>
</section>

<% end %>
