<%= content_for :title, 'Liste des documentaires' %>
<% initials = hash_by_title_initial @docs %>
<% letter_ids = downcase_keys initials %>

<%= render 'shared/body_nav', title: @title, nav_list: letter_ids %>

<% if @action == 'edit' %>
	<section class="edit-disclaimer">
		<h3>Cr&eacute;er ou modifier une fiche</h3>
		<div class="text-unit">
			<p>La liste ci-dessous vous donne acc&egrave;s &agrave; aux brouillons des documentaires.</p>
		</div>
		<%= link_to 'Nouveau documentaire', { controller: 'document', action: 'new' }, :class => 'new' %>
	</section>
<% end %>

<% initials.each do |letter, docs| %>
	<section id="<%= letter_ids[letter] %>">
		<h3><%= letter %></h3>
		<ul>
			<% docs.each do |doc| %>
				<li>
					<%= link_to doc.title, :action => @action, :name => doc.name %>
					<%= "(#{doc.year})" unless doc.year.nil? %>
				</li>
			<% end %>
		</ul>
	</section>
<% end %>

