<% initials = hash_by_title_initial @docs %>
<% letter_ids = downcase_keys initials %>

<%= render 'shared/body_nav', title: 'Documentaires', nav_list: letter_ids %>

<% initials.each do |letter, docs| %>
	<section id="<%= letter_ids[letter] %>">
		<h3><%= letter %></h3>
		<ul>
			<% docs.each do |doc| %>
				<li>
					<%= link_to doc.title, :action => "show", :name => doc.name %>
					<%= "(#{doc.year})" unless doc.year.nil? %>
				</li>
			<% end %>
		</ul>
	</section>
<% end %>
