<section class="body <%= @doc.name %>">

<nav class="body-nav">
	<ul class="nav">
		<li><a href="#id-card">ID Card</a></li>
		<li><a href="#checklist">Checklist</a></li>
		<li><a href="#critics">Critiques</a></li>
		<li><a href="#dig-it">Alternatives</a></li>
	</ul>
	<h2 class="page-title"><a href="#"><span class="prefix">VDF::</span><span class="short-name"><%= @doc.name %></span></a></h2>
</nav>

<section id="id-card" class="id-card">
	<div class="poster"><%= image_tag(@doc.poster) %></div>
	<h3 class="docu-title"><%= @doc.title %></h3>
	<h4 class="docu-subtitle"><%= @doc.subtitle %></h4>
	<div class="tag-list">
		<a href="#">tags need handling</a>
		<a href="#">tag2</a>
		<a href="#">tag3</a>
	</div>

	<% 	# renders tag with link if url provided, with name if only name provided, nothing otherwise
		content_tag(:p, :class => 'editor') do 
			@doc.creator_url.blank? ? @doc.creator : link_to(@doc.creator, @doc.creator_url, :rel => 'nofollow')
			end unless @doc.creator.blank?
	%>

	<div class="summary text-unit">
		<%= raw @doc.description %>
	</div>
	<p class="impact"><%= raw @doc.impact %></p>
	
</section>

</section>
