<!DOCTYPE html>
<html>
<head>
  <title>VDF</title>
  <%= stylesheet_link_tag    "application", controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>

<body class="document" data-spy="scroll" data-target=".body-nav">

<div class="logging">
	<%=	raw user_signed_in? ?
			"#{ link_to 'Déconnexion', { controller: 'devise/sessions', action: 'destroy' }, method: :delete } (#{current_user.login})"
		:
			"#{ link_to 'Connexion', controller: 'devise/sessions', action: 'new' }"
	 %>
</div>

<nav class="site-nav">
	<ul>
		<li><%= link_to "Accueil", controller: "/vdf", action: "index" %></li>
		<li><%= link_to "Docus", controller: "/document", action: "list" %></li>
		<li><%= link_to "A propos", controller: "/vdf", action: "about" %></li>
	</ul>
</nav>

<header class="title">
<h1>Versions des faits</h1>
<h2>.:&nbsp;Distinguer l&apos;opinion de l&apos;information&nbsp;:.</h2>
</header>

<%# TODO Style %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section class="body">

	<%= yield %>

</section>

<footer class="page-footer close">
	<blockquote>
		<p>Le plus grand ennemi de la connaissance n&apos;est pas l&apos;ignorance, mais l&apos;illusion de la connaissance.</p>
	</blockquote>
	<cite>Stephen Hawking</cite>
</footer>

</body>
</html>
