<!DOCTYPE html>
<html>
<head>
  <title>Vdf</title>
  <%= stylesheet_link_tag    "application", controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>

<body class="document" data-spy="scroll" data-target=".body-nav">

<nav class="site-nav">
	<ul>
		<li><a href="#">Accueil</a></li>
		<li><%= link_to "Docus", action: "list" %></li>
		<li><a href="#">A propos</a></li>
	</ul>
</nav>

<header class="title">
<h1>Version des faits</h1>
<h2>.:&nbsp;Distinguer l&apos;opinion de l&apos;information&nbsp;:.</h2>
</header>



<%= yield %>



<footer class="page-footer close">
	<blockquote>
		<p>Le plus grand ennemi de la connaissance n&apos;est pas l&apos;ignorance, mais l&apos;illusion de la connaissance.</p>
	</blockquote>
	<cite>Stephen Hawking</cite>
</footer>

</body>
</html>
