<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "VDF::#{ yield(:title) }" : 'Versions des faits' %></title>
  <%= stylesheet_link_tag    "application", controller_name, :media => "all" %>
  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>

<body class="document" data-spy="scroll" data-target=".body-nav">

<%= render 'layouts/auth_bar' %>

<nav class="site-nav">
	<ul>
		<li><%= link_to "Accueil", controller: "/vdf", action: "index" %></li>
		<li><%= link_to "Docus", controller: "/document", action: "list" %></li>
		<li><%= link_to "A propos", controller: "/vdf", action: "about" %></li>
	</ul>
</nav>

<header class="title">
<h1>Versions des faits</h1>
<h2>.:&nbsp;Distinguer l&apos;opinion de l&apos;information&nbsp;:.</h2>
</header>

<section class="body">

	<%= yield %>

</section>

<footer class="page-footer close">
	<blockquote>
		<p>Le plus grand ennemi de la connaissance n&apos;est pas l&apos;ignorance, mais l&apos;illusion de la connaissance.</p>
	</blockquote>
	<%# <cite>Stephen Hawking</cite> %>
</footer>

</body>
</html>
